body {
    margin: 2vw;
    text-align: center;
}



/*MIDLERTIDIG HEADER  */
.nav_logo img {
    width: 8vw;
}

.splash {
    width: 100%;
    height: 100vh;
    background-image: url(billeder/eros.jpg);
    background-size: cover;
    background-position: 42% 10%;
    background-size: 1370px 837px, auto;
    background-repeat: no-repeat;
    max-width: none;
    position: relative;

}


/*    KNAPPER    */
button {
    border: solid 2px #fd00f4;
    background: black;
    color: white;
    border-radius: 5px;
    width: 30vw;
    height: 6vw;
    margin: 1vw;
}

button:hover {
    background: #fd00f4;

}

.valgt {
    background-color: #fd00f4;

}

.hover_container {
    position: relative;
    width: 100%;
}

.billede {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(9, 12, 93, 0.74);
}

.hover_container:hover .overlay {
    opacity: 1;
}

.navn {
    color: #ffffff;
    font-size: 20px;
    width: 50vw;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

article {
    margin: 2vw;
}




@media (min-width:600px) {
    #liste {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
    }

    .nav_logo img {
        width: 3vw;
    }

    .splash {
        width: 100%;
        height: 100vh;
        background-image: url(billeder/eros.jpg);
        background-size: cover;
        background-position: 48% 10%;
        max-width: none;
    }

    /*    KNAPPER    */
    button {
        border: solid 2px #fd00f4;
        background: black;
        color: white;
        border-radius: 5px;
        width: 10vw;
        height: 3vw;
        margin: 1vw;
    }
}

@media (min-width:800px) {
    .splash {
        width: 100%;
        height: 100vh;
        background-image: url(splash.jpg);
        background-size: cover;
        background-position: 23% 83%;
        max-width: none;
    }
}
