/*GENERELT*/
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}

/*TEKSTER*/
h1 {
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0vw;
    color: white;

}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 1vw;
    margin-top: 0;
    font-weight: 100;
    color: white;

}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 10vw;
    margin-top: 0;
    font-weight: 100;
    color: white;
}

/*INDHOLD*/
#section {
    z-index: 8;
    position: relative;
}

/*SPLASH VIDEO */

.splash video {
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
}

/*EFFEKT SÅ MAN SCROLLER OP OVER FLASH*/
@mixin coverer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

.video-header {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;

    &,
    video,
    .viewport-header {
        @include coverer;
    }

    video {
        background: brown;
        object-fit: cover;
    }

    .viewport-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
}

main,
footer {
    background: #000000;
    position: relative;
    padding: 1rem;
    margin-top: 0vh;

    &::before {
        content: "";
        @include coverer;
        top: -100vh;
    }

    p {
        max-width: 600px;
        margin: 1rem auto;
    }
}

/*    KNAPPER    */
button {
    color: #5cf2ff;
    border: none;
    background-color: transparent;
    width: 38vw;
    height: 8vw;
    margin: 1vw;
    font-size: 0.6rem;
    text-transform: uppercase;
}

button:hover {
    color: #ff23e5;
}

.valgt {
    color: #ff23e5;
}

.hover_container {
    position: relative;
    width: 100%;
}

/*HOVER EFFEKT PÅ BILLEDERNE*/
.billede {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(9, 12, 93, 0.74);
}

.hover_container:hover .overlay {
    opacity: 1;
}

.navn {
    color: #ffffff;
    font-size: 27px;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-weight: 500;
    width: 90vw;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.kunstner {
    color: #ffffff;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-weight: 500;
    font-size: 22px;
    width: 75vw;
    position: absolute;
    top: 56%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*INDHOLD*/
article {
    margin: 2vw;
}

/*VIDEOBAGGRUND*/
.baggrund video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

/*PIL NED*/
.pil img {
    width: 10vw;
}

.pil {
    z-index: 8;
    top: 94%;
    left: 0%;
    position: relative;
}

/*FOOTER*/
footer {
    background-color: black;
    color: white;
    margin-top: 0px;
    font-weight: 200;
    font-size: 15px;
    line-height: 1.8;
}



@media (min-width:600px) {

    /*    INDHOLD*/
    #liste {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        margin-top: 2vw;
    }

    /*SPLASH*/
    .splash {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 51% 83%;
        max-width: none;
    }

    video {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
    }

    /*    KNAPPER    */
    button {
        font-size: 0.6rem;
        width: 20vw;
        height: 3vw;
        margin: 1.7vw;
        margin-bottom: 2vw;
    }

    /*FOOTER*/
    footer {
        font-size: 20px;
    }


    /*    HOVER-EFFEKT PÅ BILLEDERNE */
    .navn {
        color: #ffffff;
        font-size: 18px;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        width: 90vw;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .kunstner {
        color: #ffffff;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        font-size: 15px;
        width: 50vw;
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }


    /*    PIL NED */
    .pil img {
        width: 8vw;
    }

    .pil {
        position: relative;
        z-index: 8;
        top: 106vw;
        left: 0%;
    }
}

@media (min-width:700px) {

    /*    HOVER-EFFEKT PÅ BILLEDERNE*/
    .navn {
        font-size: 20px;
        font-weight: 500;
        width: 50vw;
    }

    .kunstner {
        font-size: 18px;
        width: 50vw;
    }



}

@media (min-width:800px) {

    /*    SPLASH*/
    .splash {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 51% 83%;
        max-width: none;
    }


    /*    HOVER-EFFEKT PÅ BILLEDERNE*/
    .navn {
        color: #ffffff;
        font-size: 24px;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        width: 50vw;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .kunstner {
        color: #ffffff;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        font-size: 22px;
        width: 50vw;
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /*KNAPPER*/
    button {
        font-size: 0.7rem;
        width: 15vw;
        height: 3vw;
        margin: -0.3vw;
        margin-bottom: 2vw;
    }

    .pil img {
        width: 7vw;
    }

    .pil {
        z-index: 8;
        top: 79vw;
        left: 0%;
    }
}


@media (min-width:1000px) {

    /*    HOVER-EFFEKT PÅ BILLEDERNE*/
    .navn {
        color: #ffffff;
        font-size: 32px;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        width: 50vw;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .kunstner {
        color: #ffffff;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        font-size: 27px;
        width: 50vw;
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /*    KNAPPER*/
    button {
        font-size: 0.85rem;
        width: 14.5vw;
        height: 3vw;
        margin: -0.3vw;
        margin-bottom: 2vw;
    }

    .pil img {
        width: 7vw;
    }

    .pil {
        z-index: 8;
        top: 62vw;
        left: 0%;
    }
}

@media (min-width:1200px) {

    /*    HOVER-EFFEKT PÅ BILLEDERNE*/
    .navn {
        color: #ffffff;
        font-size: 38px;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        width: 50vw;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .kunstner {
        color: #ffffff;
        font-family: 'Big Shoulders Inline Text', cursive;
        font-weight: 500;
        font-size: 27px;
        width: 50vw;
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .pil img {
        width: 7vw;
    }

    .pil {
        z-index: 8;
        top: 52vw;
        left: 0%;
    }
}
