/* --------------------- NAVIGATION ------------------ */

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.topnav .nav_links {
    display: flex;
    float: right;
    margin-top: 15px;
    justify-content: space-between;
}

.topnav .nav_links a {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    margin-right: 70px;
    font-size: 20px;
    z-index: 1000;
}

.nav_links a:hover {}

.nav_logo img {
    width: 28.5px;
    float: left;
    margin: 10px;
}
}


main {
    margin-top: 10rem;
}






/* --------------------- FOOTER ------------------- */

footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
}
